<config>
    <gameName>fireEmblem</gameName>
    <gameID>com.nintendo.zaba</gameID>
    <deviceAddress>192.168.0.12:5555</deviceAddress>
    <twitchOAuth>oauth:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</twitchOAuth>
    <twitchChannel>twitchplaysfeh</twitchChannel>
    <websocketPort>10000</websocketPort>
    <rebootPeriodMs>3600000</rebootPeriodMs>
    <debug>false</debug>
    <twitchClientID>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</twitchClientID>
    <twitchExtensionSecret>xxxxxxxxxxxxxxxxxxx</twitchExtensionSecret>
</config>
